html {
    font-size: 62.5%;
}
body {
    box-sizing: border-box;
    margin: 0;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    color: #dae1e7;
}

img {
    width: 100%;
}

.header {
    padding: 2em;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #142850;
}

.title {
    text-decoration: none;
    color:#dae1e7
}

.header nav {
    display: flex;
    justify-content: space-around;
    max-width: 60%;
}
ul {
    list-style-type: none;
}
.header nav a {
    margin: auto 1em;
    padding: 0.5em 1em;
    border: 1px solid #dae1e7;
    text-decoration: none;
    color: #dae1e7;
    transition: all 0.5s;
}

.header nav a:hover,
.header nav .current {
    color: #142850;
    background-color: #dae1e7;
}

main {
    background-color: #00909e;
}


main .intro {
    padding: 1em;
    background-color: #27496d;
}

main .intro article {
    margin: 0 auto;
    max-width: 60%;
    text-align: center;
}

main .intro h2,
.contactForm h2 {
    text-transform: uppercase;
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    color:#142850;
}
main .aboutMe {
    padding: 2em;
    background-color: #00909e;
}
main #who {
    text-align: justify;
    max-width: 60%;
    margin: 0 auto;
}

main a {
    color:#dae1e7;
    text-decoration: none;
    font-weight: bold;
}

.flex {
    display: flex;
}

.about {
    width:69%;
    font-size:1.8rem;
}
.about article{
    padding: 2em;
}
.about div {
    margin: 1em auto;
    width: 40%;
    border-bottom: 1px solid #142850;
}

.about article h3{
    text-align: center;
    color: #27496d;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
}

.about article h3 i {
    margin-right: 1em;
}

main ul li::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f30b';
    font-size: 1.6rem;
    color:#dae1e7;
    font-weight: 900;
    margin-right: 0.5em;
}

ul.none {
    padding-left: 0;
}

ul.none li::before {
    content:none;
}

aside {
    position: fixed;
    right: 1em;
    top: 12em;
    background-color: #27496d;
    width: 30%;
}

aside a {
    margin: 0.5em auto;
}

.projets {
    padding:2em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.projets article {
    margin: 1em auto;
    padding: 2em;
    border: 1px solid #dae1e7;
    border-radius: 1em;
    width: 24%;
    text-align: center;
    background-color: #142850;
}

.projets article img {
    margin:1em auto;
}

.contactForm {
    padding: 2em;
}

form {
    padding: 2em;
    margin: 1em auto;
    width:60%;
    background-color: #27496d;
    border: 1px solid #dae1e7;
    border-radius: 1em;
}

form ul li {
    display: flex;
    justify-content: space-between;
    margin: 1em auto;
}

label {
    font-family: 'Open Sans', sans-serif;
}

#name, 
#email,
select {
    line-height: 1.5em;
    width:60%;
    border-radius: 2em;
    float:inline-end;
}

textarea {
    font-family: 'Roboto', sans-serif;
    padding: 1em;
    border-radius: 2em;
    width: 100%;
}

select,
.send {
    font-family: 'Roboto';
    color:#142850;
}

select {
    text-align: center;
}

.send {
    margin: 1em auto;
    padding:1em 2em;
    background-color: #00909e;
    color: #dae1e7;
    border: 1px solid #dae1e7;
    border-radius: 0.5em;
}

.send:hover {
    cursor:pointer;
}
footer {
    padding: 1em;
    color:#142850;
    background-color: #dae1e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    text-decoration: none;
    color:#142850;
    font-weight: bold;
}

.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact i {
    color:#142850;
}
.contact a {
    padding: 1em 2em;
    margin: auto 1em;
}


@media screen and (max-width: 1024px) {

    .header {
        text-align: center;
        display: block;
    }
    .header nav{
        margin: auto;
    }

    .projets article {
        width: 40%;
    }

    footer {
        flex-direction: column-reverse;
        text-align: center;
    }

    footer .contact {
        margin: auto;
    }
}

@media screen and (max-width: 760px) {
    .header nav,
    ul.none li {
        flex-direction: column;
    }

    .header nav,
    footer .contact {
        max-width: 100%;
    }
    .header nav a{
        margin-bottom: 1em;
    }

    .about {
        width: 100%;
    }
    aside {
        display: none;
    }

    .projets article {
        width: 80%;
    }
    textarea {
        margin: auto;
        width: 70%;
    }
}